#day_report_date {
	height: 20px;
}

#day_report_date a {
	display: block;
	float: left;
	font-size: 12px;
}

#user_bookmark_percent_day_report_div {
	float: left;
	width: 400px;
	height: 250px;
}

#user_bookmark_percent_day_report_raw_div {
	float: left;
	width: 400px;
	height: 250px;
}

#user_bookmark_website_day_report_div {
	float: left;
	width: 550px;
	height: 350px;
}

#user_bookmark_website_day_report_raw_div {
	float: left;
	width: 400px;
	height: 350px;
}

.normal_a {
	margin: 2px 10px 2px 10px;
}

#app_available { /*list-style:none;*/
	
}

#menu_ul {
	font-size: 18px;
}

#menu_ul li {
	display: inline;
}

#app_available li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
	border-style: none solid none solid;
	border-width: 1px;
}

.table_1 {
	border-width: 0px;
	margin: 2px;
}

.table_1 th,.table_1 td {
	border-width: 0;
	text-align: left;
}

.heng_li {
	display: inline;
	padding-right: 8px;
	padding-left: 8px;
	/*border-style: none solid none solid;
	border-width: 1px;*/
}
