{% extends "statistics/statistics_base.html" %} {% block title %} 统计信息
{% endblock %} {% block content1 %}
<div id="day_report_date" style="height: 280px;">内测阶段, 数据仅供参考</div>
<div id="day_report_content">
	<div class="clearfix" style="height: 120px;">
		<h2>1. 用户数</h2>
		<table>
			<th>用户总数</th>
			<th>新注册</th>
			<tr>
				<td><span id="day_report_user_total"></span></td>
				<td><span id="day_report_user_new"></span></td>
			</tr>
		</table>
	</div>
	<div class="clearfix" style="height: 220px;">
		<h2>2. 收藏文章</h2>
		<table>
			<th>文章总数</th>
			<th>新收藏文章</th>
			<th>收藏失败文章</th>
			<th>kan首页次数</th>
			<th>其他首页次数</th>
			<tr>
				<td><span id="day_report_bookmark_total"></span></td>
				<td><span id="day_report_bookmark_new"></span></td>
				<td id="day_report_bookmark_failed"></td>
				<td></td>
				<td></td>
			</tr>
		</table>
		<table>
			<th>邮件收藏</th>
			<th>新邮件收藏</th>
			<th>小说收藏</th>
			<th>新小说收藏</th>
			<th>短链接点击</th>
			<th>新短链接点击</th>
			<th>分享总数</th>
			<th>新分享数</th>
			<tr>
				<td><span id="day_report_email_total"></span></td>
				<td><span id="day_report_email_new"></span></td>
				<td><span id="day_report_fiction_total"></span></td>
				<td><span id="day_report_fiction_new"></span></td>
				<td><span id="day_report_shorturl_total"></span></td>
				<td><span id="day_report_shorturl_new"></span></td>
				<td><span id="day_report_set_public_total"></span></td>
				<td><span id="day_report_set_public_new"></span></td>
			</tr>
        </table>
	</div>
	<div class="clearfix" style="height: 350px;">
		<h2>3. 用户收藏统计</h2>
		<div id="user_bookmark_percent_day_report_div"></div>
		<div id="user_bookmark_percent_day_report_raw_div"></div>
	</div>

	<div class="clearfix">
		<h2>4. 收藏网站统计</h2>
		<div id="user_bookmark_website_day_report_div"></div>
		<div id="user_bookmark_website_day_report_raw_div"></div>
	</div>

	<div class="clearfix">
		<h2>5. 收藏文章类型统计</h2>
		敬请期待
	</div>
	{% endblock %} {% block js%}
	<script type="text/javascript"
		src="/static/js/statistics/day_report/day_report.js"></script>
	<script type="text/javascript"
		src="/static/js/statistics/day_report/user_bookmark_percent_day_report.js"></script>
	<script type="text/javascript"
		src="/static/js/statistics/day_report/user_bookmark_website_day_report.js"></script>

	{% endblock %}
