{% extends "statistics/statistics_base.html" %} {% block title %} 统计信息
{% endblock %} {% block css %}
<!-- link rel="stylesheet" href="/static/css/demo1.css"> -->
{% endblock %} {% block content1 %}
<div id="note">
	<p>1. "用户统计和文章统计"去掉了测试数据, 故图中出现数据波动</p>
	<p>2. 日报功能处于测试阶段, 数据仅供参考</p>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_user_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_user_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_user_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_user_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="user_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="user_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day">日</option>
						<option value="week" selected='selected'>周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="user_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_bookmark_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_bookmark_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_bookmark_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_bookmark_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="bookmark_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="bookmark_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day">日</option>
						<option value="week" selected='selected'>周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="bookmark_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_fiction_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_fiction_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_fiction_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_fiction_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="fiction_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="fiction_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day">日</option>
						<option value="week" selected='selected'>周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="fiction_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_email_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_email_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_email_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_email_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="email_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="email_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day">日</option>
						<option value="week" selected='selected'>周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="email_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_shorturl_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_shorturl_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_shorturl_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_shorturl_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="shorturl_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="shorturl_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day" selected='selected'>日</option>
						<option value="week">周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="shorturl_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_set_public_total" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_set_public_total" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_set_public_total_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_set_public_total_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td><input type="radio" name="set_public_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="set_public_total_items" value="1">增长率</input></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain"><option value="hour">小时</option>
						<option value="day" selected='selected'>日</option>
						<option value="week">周</option>
						<option value="month">月</option></select></td>
			</tr>
			<tr>
				<td><input type="submit" id="set_public_total_submit" /></td>
			</tr>
		</table>
	</div>
</div>
<div class="clearfix" style="height: 420">
	<div id="statistics_share_channels" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_share_channels" class="table_1">
			<tr>
				<td colspan=2><strong>通过第三方分享收藏文章</strong></td>
			</tr>
			<tr>
				<td colspan=2><strong>此统计从2012-10-24开始</strong></td>
			</tr>
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_share_channels_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_share_channels_to"
					style="width: 120px" /></td>
			</tr>
			<!-- tr>
				<td><input type="radio" name="bookmark_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="bookmark_total_items" value="1">增长率</input></td>
			</tr> -->
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain">
						<option value="day" selected='selected'>日</option>
						<option value="week">周</option>
						<option value="month">月</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" id="share_channels_submit" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_add_channels" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_add_channels" class="table_1">
			<tr>
				<td colspan=2><strong>收藏文章渠道</strong></td>
			</tr>
			<tr>
				<td colspan=2><strong>此统计从2013-5-1开始</strong></td>
			</tr>
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_add_channels_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_add_channels_to"
					style="width: 120px" /></td>
			</tr>
			<!-- tr>
				<td><input type="radio" name="bookmark_total_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="bookmark_total_items" value="1">增长率</input></td>
			</tr> -->
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain">
						<option value="day" selected='selected'>日</option>
						<option value="week">周</option>
						<option value="month">月</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" id="add_channels_submit" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_public_client" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_public_client" class="table_1">
			<tr>
				<td colspan=2><strong>通过客户端分享</strong></td>
			</tr>
			<tr>
				<td colspan=2><strong>此统计从2013-03-12开始</strong></td>
			</tr>
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_public_client_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_public_client_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td>数据粒度:</td>
				<td><select id="data_grain">
						<option value="day" selected='selected'>日</option>
						<option value="week">周</option>
						<option value="month">月</option>
				</select></td>
			</tr>
			<tr>
				<td><input type="submit" id="public_client_submit" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_bookmark_per_user" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_bookmark_per_user" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_bookmark_per_user_from"
					style="width: 120px" /><input type="submit" id="reset"
					value="reset" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_bookmark_per_user_to"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td>用户规模:&nbsp前</td>
				<td><input type="text" id="size" style="width: 120px"
					value="20" />名</td>
			</tr>
			<tr>
				<td><input type="submit" id="bookmark_per_user_submit" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_bookmark_time_div" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_bookmark_time" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_bookmark_time_from"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_bookmark_time_to"
					style="width: 120px" /></td>
			</tr>
			<!-- tr>
				<td>用户规模:&nbsp前</td>
				<td><input type="text" id="size" style="width: 120px"
					value="100" />名</td>
			</tr> -->
			<tr>
				<td><input type="radio" name="bookmark_time_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="bookmark_time_items" value="1">百分比</input></td>
			</tr>
			<tr>
				<td><input type="submit" id="submit" value="submit" /></td>
				<td><input type="submit" id="reset" value="reset" /></td>
			</tr>
		</table>
	</div>
</div>

<div class="clearfix" style="height: 420">
	<div id="statistics_bookmark_percent_div" class="statistics_div"></div>
	<div style="padding-top: 60px">
		<table id="table_bookmark_percent" class="table_1">
			<tr>
				<td>开始时间:</td>
				<td><input type="text" id="statistics_bookmark_percent_from"
					style="width: 120px" /></td>
			</tr>
			<tr>
				<td>结束时间:</td>
				<td><input type="text" id="statistics_bookmark_percent_to"
					style="width: 120px" /></td>
			</tr>
			<!-- tr>
				<td><input type="radio" name="bookmark_percent_items" value="0"
					checked="checked">默认</input></td>
				<td><input type="radio" name="bookmark_percent_items" value="1">百分比</input></td>
			</tr> -->
			<tr>
				<td><input type="submit" id="submit" value="submit" /></td>
				<td><input type="submit" id="reset" value="reset" /></td>
			</tr>
		</table>
	</div>

</div>

{% endblock %} {%block js %}
<script type="text/javascript" src="/static/js/statistics/user_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/shorturl_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/set_public_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/public_client.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/bookmark_percent.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/bookmark_total.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/fiction_total.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/email_total.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/share_channels.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/add_channels.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/bookmark_per_user.js"></script>
<script type="text/javascript"
	src="/static/js/statistics/bookmark_time.js"></script>
{% endblock %}
