{% extends "base.html" %} {% block title %} 统计信息 {% endblock %}

{%block js %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<script type="text/javascript" src="/static/js/statistics/user_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/user_bookmark_percent.js"></script>
<script type="text/javascript" src="/static/js/statistics/bookmark_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/bookmark_per_user.js"></script>
<script type="text/javascript" src="/static/js/statistics/bookmark_time.js"></script>
{% endblock %}

{% block content %}
<div class="right_navigate">
<ul>
<li><a href="/statistics">综合</a></li>
<li><a href="/statistics/day_report">日报</a></li>
</ul>
</div>
<div>
<div class="grid">
<div id="user_total_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="bookmark_total_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="bookmark_per_user_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="bookmark_time_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="user_bookmark_percent_div" class="grid_item"></div>
</div>
</div>

{% endblock %}
