{% extends "statistics/statistics_base.html" %} {% block title %} 统计信息
{% endblock %} {% block content1 %}
<div id="week_report_date" style="height:120px;">内测阶段, 数据仅供参考</div>

<div id="week_report_content">
	<div id="week_report_abstract" class="clearfix" ></div>
	<div class="clearfix">
		<h3>3. 收藏网站统计(点击查看详细)</h3>
		<div id="user_bookmark_website_week_report_div"></div>
		<div id="user_bookmark_website_week_report_raw_div"></div>
	</div>

	{% endblock %} {% block js%}
	<script type="text/javascript"
		src="/static/js/statistics/week_report/week_report.js"></script>
	<!-- script type="text/javascript"
		src="/static/js/statistics/week_report/user_bookmark_percent_week_report.js"></script>
 -->
	<script type="text/javascript"
		src="/static/js/statistics/week_report/user_bookmark_website_week_report.js"></script>
	{% endblock %}