<h3>1. 数据增量</h3>
<table style="font-size:12px;">
	<th>类别</th>
	<th>周一</th>
	<th>周二</th>
	<th>周三</th>
	<th>周四</th>
	<th>周五</th>
	<th>周六</th>
	<th>周日</th>
	<tr>
		<td>新增用户数</td>
		<td>{{ s.new_user.1 }}</td>
		<td>{{ s.new_user.2 }}</td>
		<td>{{ s.new_user.3 }}</td>
		<td>{{ s.new_user.4 }}</td>
		<td>{{ s.new_user.5 }}</td>
		<td>{{ s.new_user.6 }}</td>
		<td>{{ s.new_user.7 }}</td>
	</tr>
	<tr>
		<td>新增文章数</td>
		<td>{{ s.new_bookmark.1 }}</td>
		<td>{{ s.new_bookmark.2 }}</td>
		<td>{{ s.new_bookmark.3 }}</td>
		<td>{{ s.new_bookmark.4 }}</td>
		<td>{{ s.new_bookmark.5 }}</td>
		<td>{{ s.new_bookmark.6 }}</td>
		<td>{{ s.new_bookmark.7 }}</td>
	</tr>
</table>
