<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen">
<title>Sohukan监测统计系统</title>
</head>
<body>
<h1><a>Sohukan监测统计系统</a></h1>
<h2><a href="#xtyyhmb">1.系统意义和目标</a></h2>
<p><strong>意义</strong> Sohukan产品的守护神, 是Sohukan产品完美运行的保障
<p><strong>目标</strong> 
<p>1. 监控数据能够快速响应Sohukan产品的各种异常
<p>2. 积淀大量用户数据, 为产品日后的发展确立方向
<p>3. 系统逐步实现独立的运营和维护, 为监控和运营体系的平台化拓展思路 

<h2><a href="#xtsxff">2.系统结构</a></h2>
<p><strong>系统结构</strong>, 主要分成三大块:
<ul>
<li>1. 定时任务, 抓取数据</li>
<li>2. 数据处理, 统计计算</li>
<li>3. 数据展示</li>
</ul>
-------------------------------------------
<p><strong>监控</strong> ganglia已经对服务器的后台做了大部分监控, 所以这里的监控只是一个简单的补充, 监控的重点是和业务逻辑带有重合的部分. 
<ul>
<li>用户登陆系统时间</li>
<li>添加一篇文章所用时间</li>
<li>从s3获取一篇文章所用时间</li>
<li>...</li>
</ul>
<p><strong>业务统计</strong> 这个是系统的主体部分, 重点是针对Sohukan线上的各种数据进行汇总和分析. 
需要定时对Sohukan的业务数据进行提取, 整理, 存储和展示, 在此基础上分析出Sohukan用户的行为和兴趣点, 为产品发展提供依据和思路.

<ul>
<li>用户注册数</li>
<li>收藏文章总数</li>
<li>...</li>

<p>业务统计的数据来源有三:
<ul>
<li>Sohukan后台数据提取:[用户注册数, 收藏文章总数]</li>
<li>Sohukan系统内部捕捉:[活跃用户数, 系统峰值时段]</li>
<li>Sohukan系统日志:[]</li>
<li>...</li>
</ul>
</ul>
<p>ps:
Sohukan系统内部捕捉是在系统内部截获api请求, 通过request, api, params来创建一个动作记录表, 
<p>举例 user, time, api, api对应的参数, request信息(ip|UA)
<p>-------------------------------------------
<p>系统使用django-Web框架, 数据库为mysql, 前台图表展示暂定amcharts. 初期会在53上搭建服务器和数据库.

<h2><a href="#mqjd">3.进度安排</a></h2>
<p><strong>一期任务</strong>
<ul>
<li>1. 搭建系统框架, 创建逻辑包, 确定定时任务调度, 日志, 异常, 数据连接的实现方式</li>
<li>2. 根据现有需求创建几个简单实用的定时任务(提取当前注册用户数, 收藏文章总数, 定时添加文章, 阅读文章...)</li>
<li>3. 根据近期数据, 画出相应的监控和统计图表, 标识出系统可用时间</li>
</ul>
<p><strong>一期目标</strong> 
<p>系统初步上线, 可以统计查看注册用户数, 收藏文章总数此类的简单指标, 有简单的图表展示界面
<p><strong>预计时间</strong> 2-3周
<p>---------------------------------------------------
<p><strong>二期任务</strong>
<ul>
<li>1. Sohukan系统内部hack每次api请求, 向中写入用户动作的基础数据</li>
<li>2. 完成产品的统计需求, 这是一个持续的过程</li>
<li>3. 系统图表展示的适度优化</li>
</ul>
<p><strong>二期目标</strong> 
<p>系统统计基本涵盖Sohukan产品所有的业务范围(用户,文章信息的多维统计; 各种Top, 峰值, 时段的统计;)
<p>能够快速响应新的统计需求 

<p><strong>预计时间</strong> 5-7周
<p>---------------------------------------------------
<p><strong>三期任务</strong>
<ul>
<li>1. 解决问题: 
       <ol>a. 大数据量会给系统带来性能和扩展性方面的问题</ol>
       <ol>b. 大数据量的给数据库带来的压力</ol>
       </li>
<li>2. 在需求不断增加和更新的基础上, 构建出一种快速完成监控和统计需求的通用方法, 系统向服务化,平台化扩展</li>
<li>3. 对积淀的用户数据尝试深度挖掘</li>
</ul>
<p><strong>三期目标</strong> 
<p>将核心的统计计算和业务逻辑剥离开来, 试图抽象出标准的功能组件, 模块  
<p>统计需求的定制化, 系统服务的平台化, 为系统移植到其他产品提供可能

<p><strong>预计时间</strong> 3-4月
<p>--------------------------------------------------- 
</body>
</html>