{% extends "base.html" %} {% block title %} 综合页面 {% endblock %}

{%block js %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<script type="text/javascript" src="/static/js/statistics/user_total.js"></script>
<script type="text/javascript" src="/static/js/statistics/bookmark_total.js"></script>
<script type="text/javascript" src="/static/js/monitor/monitor.js"></script>

{% endblock %} {% block content %}
<ul id="menu_ul">
<li><a href="/monitor">监控</a></li>
<li><a href="/statistics">统计</a></li>
<li><a href="/">综合</a></li>
<li><a href="/about">计划</a></li>
</ul>

<div class="grid">
<div id="user_total_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="bookmark_total_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="add_div" class="grid_item"></div>
</div>

<div class="grid">
<div id="read_div" class="grid_item"></div>
</div>

{% endblock %}
