{% extends "base.html" %} {% block title %} 用户信息统计 {% endblock %}

{%block js %}
<link rel="stylesheet" href="/static/css/style.css" type="text/css">
<script type="text/javascript" src="/static/js/statistics/user_total.js"></script>
<script type="text/javascript" src="/static/js/monitor/monitor.js"></script>

{% endblock %} {% block content %}
<h2>注册用户数</h2>
<div id="user_total_div" style="width: 100%; height: 300px;"></div>
<h2>添加文章</h2>
<div id="add_div" style="width: 100%; height: 300px;"></div>
<h2>阅读文章</h2>
<div id="read_div" style="width: 100%; height: 300px;"></div>

<button type="button">Click me</button>
{% endblock %}
