<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>{% block title %} 标题 {% endblock %}</title>

<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="/static/js/amcharts/amcharts.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/js/util.js"></script>
{% block js%}{% endblock %}
</head>
<body>
	<div class="container">
		<ul id="menu_ul">
			<li><a href="/">首页</a></li>
			<li><a href="/statistics">统计</a></li>
			<li><a href="/monitor">业务监控</a></li>
			<li><a href="http://10.10.69.54:8080/ganglia">运维监控</a></li>
			<li><a href="/about" style="display: none">计划</a></li>
		</ul>
		{% block content %} 内容 {% endblock %}
	</div>
</body>
</html>
